.card {
	color: red;
	height: 300px;
	width: 300px;
	border-radius: 10px;
	padding-left: 20px;
	transition: 1s;
	z-index: 99;

	background-size: cover;
	background-color: transparent;
	transform: translate(0px);

	border: 3px solid;
	border-color: rgb(3, 3, 15) rgb(34, 3, 3) rgb(43, 58, 73);
	filter: drop-shadow(50px 100px 5px rgba(2, 0, 0, 0.349));
}

.card:hover {
	transform: translateX(-10px) translateY(-50px);
	filter: drop-shadow(60px 150px 10px rgba(2, 0, 0, 0.349));

	z-index: 10;
}

img {
	width: 100%;
}
